process.executor = 'local'
process {
    cache = 'standard'  // Options: 'standard' (default), 'deep', 'lenient', or 'false'
    container = 'raschwaa/census-pipeline:latest'
    docker.runOptions = '-v /Users/Rachel/Documents/BIOF501/biof501_proj:biof501_proj'

}
nextflow {
    clean {
        afterRun = false  // Default is false; set to true to clean up automatically
    }
}

docker {
    enabled = true
}
