params {
    subsample = 500
    organism = "homo_sapiens"
    split_column = "dataset_title"
    version = "2024-07-01"
    test_name = "Frontal cortex samples from C9-ALS, C9-ALS/FTD and age matched control brains"
}

params.adata_functions_path = "src"

process {
    environment 'PYTHONPATH', "${params.adata_functions_path}"
}
