absl-py @ file:///home/conda/feedstock_root/build_artifacts/absl-py_1705494584803/work
accumulation_tree==0.6.4
aiobotocore==2.13.0
aiohttp==3.9.5
aioitertools==0.11.0
aiosignal==1.3.1
anndata @ file:///home/conda/feedstock_root/build_artifacts/anndata_1712662641100/work
array_api_compat @ file:///home/conda/feedstock_root/build_artifacts/array-api-compat_1711775952998/work
asttokens @ file:///home/conda/feedstock_root/build_artifacts/asttokens_1698341106958/work
attrs==23.2.0
aws==0.2.5
bcrypt==4.2.0
boto==2.49.0
boto3==1.35.32
botocore==1.35.32
Brotli @ file:///home/conda/feedstock_root/build_artifacts/brotli-split_1695989787169/work
cached-property @ file:///home/conda/feedstock_root/build_artifacts/cached_property_1615209429212/work
cellxgene-census==1.16.1
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1725278078093/work/certifi
cffi @ file:///home/conda/feedstock_root/build_artifacts/cffi_1725560564262/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1698833585322/work
chex @ file:///home/conda/feedstock_root/build_artifacts/chex_1710850908421/work
cloudpickle==2.2.1
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1666700638685/work
comm @ file:///home/conda/feedstock_root/build_artifacts/comm_1710320294760/work
contextlib2 @ file:///home/conda/feedstock_root/build_artifacts/contextlib2_1624848568296/work
contourpy @ file:///home/conda/feedstock_root/build_artifacts/contourpy_1712429897138/work
cryptography==43.0.1
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1696677705766/work
datasets==2.21.0
debugpy @ file:///home/conda/feedstock_root/build_artifacts/debugpy_1727240597731/work
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1641555617451/work
Deprecated==1.2.14
dill==0.3.8
docrep @ file:///home/conda/feedstock_root/build_artifacts/docrep_1613487293529/work
et-xmlfile @ file:///home/conda/feedstock_root/build_artifacts/et_xmlfile_1674664118162/work
etils @ file:///home/conda/feedstock_root/build_artifacts/etils_1725375982069/work
exceptiongroup @ file:///home/conda/feedstock_root/build_artifacts/exceptiongroup_1704921103267/work
executing @ file:///home/conda/feedstock_root/build_artifacts/executing_1725214404607/work
fabric==3.2.2
filelock @ file:///home/conda/feedstock_root/build_artifacts/filelock_1726613473834/work
flax @ file:///home/conda/feedstock_root/build_artifacts/flax_1724791787036/work
fonttools @ file:///home/conda/feedstock_root/build_artifacts/fonttools_1712344564583/work
frozenlist==1.4.1
fsspec==2024.5.0
get-annotations @ file:///home/conda/feedstock_root/build_artifacts/get-annotations_1678462242093/work
gmpy2 @ file:///home/conda/feedstock_root/build_artifacts/gmpy2_1725379831219/work
grpcio @ file:///home/conda/feedstock_root/build_artifacts/grpc-split_1713388282847/work
h2 @ file:///home/conda/feedstock_root/build_artifacts/h2_1634280454336/work
h5py @ file:///home/conda/feedstock_root/build_artifacts/h5py_1715967907177/work
hpack==4.0.0
huggingface-hub==0.25.1
hyperframe @ file:///home/conda/feedstock_root/build_artifacts/hyperframe_1619110129307/work
idna==3.7
igraph==0.11.6
importlib_metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1726082825846/work
importlib_resources @ file:///home/conda/feedstock_root/build_artifacts/importlib_resources_1725921340658/work
invoke==2.2.0
ipykernel @ file:///home/conda/feedstock_root/build_artifacts/ipykernel_1719845459717/work
ipython @ file:///home/conda/feedstock_root/build_artifacts/ipython_1725050136642/work
jax @ file:///home/conda/feedstock_root/build_artifacts/jax_1715569236590/work
jaxlib==0.4.23.dev20240522
jedi @ file:///home/conda/feedstock_root/build_artifacts/jedi_1696326070614/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1715127149914/work
jmespath==1.0.1
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1712597192451/work
jupyter_client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1726610684920/work
jupyter_core @ file:///home/conda/feedstock_root/build_artifacts/jupyter_core_1727163409502/work
kiwisolver @ file:///home/conda/feedstock_root/build_artifacts/kiwisolver_1695379920604/work
legacy-api-wrap @ file:///home/conda/feedstock_root/build_artifacts/legacy-api-wrap_1713248061122/work
leidenalg==0.10.2
lightning @ file:///home/conda/feedstock_root/build_artifacts/lightning_1723066001090/work
lightning-utilities @ file:///home/conda/feedstock_root/build_artifacts/lightning-utilities_1725334241506/work
llvmlite==0.42.0
Markdown @ file:///home/conda/feedstock_root/build_artifacts/markdown_1710435156458/work
markdown-it-py @ file:///home/conda/feedstock_root/build_artifacts/markdown-it-py_1686175045316/work
MarkupSafe @ file:///home/conda/feedstock_root/build_artifacts/markupsafe_1724959448457/work
matplotlib @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-suite_1715976244352/work
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1713250518406/work
mdurl @ file:///home/conda/feedstock_root/build_artifacts/mdurl_1704317613764/work
ml-collections @ file:///home/conda/feedstock_root/build_artifacts/ml-collections_1664451628929/work
ml-dtypes @ file:///home/conda/feedstock_root/build_artifacts/ml_dtypes_1726376268746/work
mpmath @ file:///home/conda/feedstock_root/build_artifacts/mpmath_1678228039184/work
msgpack @ file:///home/conda/feedstock_root/build_artifacts/msgpack-python_1725974992554/work
mudata @ file:///home/conda/feedstock_root/build_artifacts/mudata_1686129262768/work
multidict==6.0.5
multipledispatch @ file:///home/conda/feedstock_root/build_artifacts/multipledispatch_1721907546485/work
multiprocess==0.70.16
munkres==1.1.4
natsort @ file:///home/conda/feedstock_root/build_artifacts/natsort_1687263093793/work
nest_asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1705850609492/work
networkx @ file:///home/conda/feedstock_root/build_artifacts/networkx_1712540363324/work
numba @ file:///home/conda/feedstock_root/build_artifacts/numba_1711475169058/work
numpy @ file:///home/conda/feedstock_root/build_artifacts/numpy_1707225376651/work/dist/numpy-1.26.4-cp311-cp311-linux_x86_64.whl#sha256=d08e1c9e5833ae7780563812aa73e2497db1ee3bd5510d3becb8aa18aa2d0c7c
numpyro @ file:///home/conda/feedstock_root/build_artifacts/numpyro_1726645550201/work
openpyxl @ file:///home/conda/feedstock_root/build_artifacts/openpyxl_1725460837567/work
opt_einsum @ file:///home/conda/feedstock_root/build_artifacts/opt_einsum_1727392354687/work
optax @ file:///home/conda/feedstock_root/build_artifacts/optax_1718550674868/work
orbax-checkpoint @ file:///home/conda/feedstock_root/build_artifacts/orbax-checkpoint_1701452553681/work
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1710075952259/work
pandas @ file:///home/conda/feedstock_root/build_artifacts/pandas_1715897625506/work
paramiko==3.5.0
parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1712320355065/work
patsy @ file:///home/conda/feedstock_root/build_artifacts/patsy_1704469236901/work
pexpect @ file:///home/conda/feedstock_root/build_artifacts/pexpect_1706113125309/work
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1602536217715/work
pillow @ file:///home/conda/feedstock_root/build_artifacts/pillow_1712154447422/work
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/platformdirs_1726613481435/work
prettytable==3.11.0
prompt_toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1727341649933/work
protobuf==4.25.3
psutil @ file:///home/conda/feedstock_root/build_artifacts/psutil_1725737916418/work
ptyprocess @ file:///home/conda/feedstock_root/build_artifacts/ptyprocess_1609419310487/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pure_eval @ file:///home/conda/feedstock_root/build_artifacts/pure_eval_1721585709575/work
pyarrow==16.1.0
pyarrow-hotfix==0.6
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1711811537435/work
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1714846767233/work
PyNaCl==1.5.0
pynndescent @ file:///home/conda/feedstock_root/build_artifacts/pynndescent_1711748241635/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1709721012883/work
pyro-api @ file:///home/conda/feedstock_root/build_artifacts/pyro-api_1614940619870/work
pyro-ppl @ file:///home/conda/feedstock_root/build_artifacts/pyro-ppl_1717374836897/work
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1661604839144/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1709299778482/work
pytorch-lightning @ file:///home/conda/feedstock_root/build_artifacts/pytorch-lightning_1723045326720/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1706886791323/work
pyudorandom==1.0.0
PyYAML @ file:///home/conda/feedstock_root/build_artifacts/pyyaml_1725456139051/work
pyzmq @ file:///home/conda/feedstock_root/build_artifacts/pyzmq_1724399095153/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1717057054362/work
rich @ file:///home/conda/feedstock_root/build_artifacts/rich_1726066019428/work/dist
s3fs==2024.5.0
s3transfer==0.10.2
scanpy @ file:///home/conda/feedstock_root/build_artifacts/scanpy_1712663704971/work
scikit-learn @ file:///home/conda/feedstock_root/build_artifacts/scikit-learn_1716309220010/work/dist/scikit_learn-1.5.0-cp311-cp311-linux_x86_64.whl#sha256=471e26e96acd1e5528f426957f0448b238b17fb8532a26c662f50bb6cbc49c14
scikit-misc==0.3.1
scipy @ file:///home/conda/feedstock_root/build_artifacts/scipy-split_1714794088309/work/dist/scipy-1.13.0-cp311-cp311-linux_x86_64.whl#sha256=86daab6ba132f91936d65799f99a8b41d93d4e831ca6d8203a4836826e287f8c
scvi-tools @ file:///home/conda/feedstock_root/build_artifacts/scvi-tools_1727596382043/work
seaborn @ file:///home/conda/feedstock_root/build_artifacts/seaborn-split_1706340836595/work
session-info @ file:///home/conda/feedstock_root/build_artifacts/session-info_1649179682763/work
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
somacore==1.0.17
sparse @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_sparse_1727687215/work
stack-data @ file:///home/conda/feedstock_root/build_artifacts/stack_data_1669632077133/work
statsmodels @ file:///home/conda/feedstock_root/build_artifacts/statsmodels_1715941217475/work
stdlib-list @ file:///home/conda/feedstock_root/build_artifacts/stdlib-list_1705507585255/work
sympy @ file:///home/conda/feedstock_root/build_artifacts/sympy_1727529700862/work
tblib==1.7.0
tdigest==0.5.2.2
tensorboard @ file:///home/conda/feedstock_root/build_artifacts/tensorboard_1727435705122/work/tensorboard-2.18.0-py3-none-any.whl#sha256=107ca4821745f73e2aefa02c50ff70a9b694f39f790b11e6f682f7d326745eab
tensorboard-data-server @ file:///home/conda/feedstock_root/build_artifacts/tensorboard-data-server_1695425375375/work/tensorboard_data_server-0.7.0-py3-none-manylinux2014_x86_64.whl#sha256=4a87e32f17958007f01c1acb90cf7aab5877e41b1a929e3a016020697c37b53d
tensorstore @ file:///home/conda/feedstock_root/build_artifacts/tensorstore_1715493394452/work
texttable==1.7.0
threadpoolctl @ file:///home/conda/feedstock_root/build_artifacts/threadpoolctl_1710943558485/work
tiledb==0.32.2
tiledb-cloud==0.12.27
tiledb-vector-search==0.10.2
tiledbsoma==1.14.2
toolz @ file:///home/conda/feedstock_root/build_artifacts/toolz_1706112571092/work
torch @ file:///home/conda/feedstock_root/build_artifacts/libtorch_1724640795723/work
torchdata==0.8.0
torchmetrics @ file:///home/conda/feedstock_root/build_artifacts/torchmetrics_1726295998187/work
tornado @ file:///home/conda/feedstock_root/build_artifacts/tornado_1724956126282/work
tqdm==4.66.5
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1713535121073/work
typing_extensions==4.11.0
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1707747584337/work
umap-learn @ file:///home/conda/feedstock_root/build_artifacts/umap-learn_1707059915193/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1726496430923/work
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1704731205417/work
Werkzeug @ file:///home/conda/feedstock_root/build_artifacts/werkzeug_1724330738730/work
wrapt==1.16.0
xarray @ file:///home/conda/feedstock_root/build_artifacts/xarray_1726134929173/work
xlrd @ file:///home/conda/feedstock_root/build_artifacts/xlrd_1595712200082/work
xxhash==3.5.0
yarl==1.9.4
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1726248574750/work
zstandard==0.22.0
